
ion-title{
    margin-left: -17%;
    text-align: center;
    text-transform: uppercase;
    color:white;
    font-family: 'Montserrat', sans-serif;
  font-weight: 300; /* Asegura que se use la variante Light */
}
 
form{
	margin: auto;
	width: 95%;
}
ion-toolbar{
    text-align: center;
    color: white;
    --ion-background-color: #262262;
}
ion-button{
    display: inline-block;
    --ion-background-color: #fff0;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
ion-tab-bar{
    --ion-background-color: #262262;

}
ion-icon,ion-label{
    display: flex;

    color: yellow;
}
body{
    --ion-color-primary-contrast: #ffffff;
  }

ion-row{
    border-radius: 10px;
    box-shadow: 1px 1px 6px -3px #333;
    margin-bottom: 3%;
    text-align: center;
    }

    p {
         font-family: 'Montserrat', sans-serif;
  font-weight: 300; /* Asegura que se use la variante Light */
        color: #262262;
        z-index: 5;
        margin-left: 17%;
        margin-top: 10%;
        font-size: 130%;
    }
ion-grid{
    --background-color: white;
    --background: url(/src/assets/botones/fondoblanco1.png) 0 0/100% 100% repeat;
}
.slider {
    padding-top: 20px;
    text-align: center;
}