<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Resumen</ion-title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">

  </ion-toolbar>
</ion-header>


<ion-content>
  <!--div class="contentImg">
    <ion-img class="img-slider" src="../../assets/banners/ordenes_creadas.gif" alt=""></ion-img>

  </div-->
    <ion-card-content class="contain">
      <ion-card>
    <form  [formGroup]="FormSend" (ngSubmit)="irAPagar()">
      <ion-label > <b>Origen*</b></ion-label>
      <ion-item >
        <select   [disabled]="true"  formControlName="field_locacion_entrega" class="locacion">
          <option *ngFor="let locacion of locaciones"   value="{{locacion.name}}">{{locacion.name}}</option>
        </select>

        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-item >


        <textarea  [disabled]="true" formControlName="field_direccion_entrega" type="text" siz required></textarea>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>


      <ion-label><b>Contacto Nombre :</b> </ion-label>
      <ion-item >

        <textarea  [disabled]="disabledValue" formControlName="field_nombre_c_origen" placeholder="Nombre" type="text" required></textarea>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>

      </ion-item>

     <ion-label > <b>Contacto Teléfono:</b> </ion-label>
     <ion-item >

       <textarea   [disabled]="disabledValue" formControlName="field_contacto" type="text" required></textarea >
         <ion-buttons>
           <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
         </ion-buttons>
     </ion-item>
      <div class="linea"></div>
      <ion-label > <b>Destino</b> </ion-label>
      <ion-item >
        <select  [disabled]="true"  formControlName="field_locacion_destino" class="locacion">
         <option *ngFor="let locacion of locaciones"   value="{{locacion.name}}">{{locacion.name}}</option>
        </select>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-item >


        <textarea  [disabled]="true" formControlName="field_direccion_destino"  type="text" required></textarea>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-item>
        <textarea  [disabled]="true"   formControlName="field_barrio_destino" (input)="inputChanged2($event)" #input2 type="text">{{barrio}}</textarea>
        <ion-buttons>
         <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
       </ion-buttons>


      </ion-item>







      <ion-label><b>Contacto Nombre :</b> </ion-label>
       <ion-item >

         <textarea [disabled]="disabledValue" formControlName="field_nombre_c_destino" placeholder="Nombre" type="text" required></textarea>
         <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
       </ion-item>


      <ion-label > <b>Contacto Teléfono:</b> </ion-label>
      <ion-item >

        <textarea   [disabled]="disabledValue" formControlName="field_contacto_destino" type="text" required></textarea >
          <ion-buttons>
            <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
          </ion-buttons>
      </ion-item>



     <div class="linea"></div>

      <ion-label > <b>Listado Farmacia</b> </ion-label>
      <ion-item >
        <textarea  [disabled]="true" formControlName="field_farmacia" class="locacion">

        </textarea>


        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>


      <ion-item>
        <textarea  [disabled]="true"    formControlName="field_barrio_origen"  #input2 type="text"></textarea>


        <ion-buttons>
         <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
       </ion-buttons>

      </ion-item>
      <ion-label > <b>Documentos </b> </ion-label>
      <!-- Condicionalmente mostrar el contenido según la selección -->
      <ion-item *ngIf="FormSend.get('field_respuesta_documentos').value === 'Recoger Documentos'">
        <p class="domicilio_class">El usuario ha seleccionado Recoger Documentos.</p>
      </ion-item>

      <ion-item *ngIf="FormSend.get('field_respuesta_documentos').value !== 'Recoger Documentos'">
        <p class="domicilio_class">El usuario ha seleccionado Enviar Documentos por WhatSapp.</p>
      </ion-item>


      <!--div class="check">
        <input  [disabled]="true" id="checkbox1" formControlName="field_respuesta_documentos" value="Recoger Documentos"  class="form-check-input" type="radio" checked>
        <label class="form-check-label" for="flexRadioDefault1">
          Recoger Documentos
        </label>

      </div>
      <div class="check2">
        <input  [disabled]="true" id="checkbox2" formControlName="field_respuesta_documentos" value="Enviar Documentos por WhatSapp" class="form-check-input" type="radio" checked>
        <label class="form-check-label" for="flexRadioDefault2">
          Enviar Documentos por WhatSapp
        </label>
      </div-->
      <script>
         if(document.getElementById('field_respuesta_documentos').checked){
        alert('field_respuesta_documentos esta seleccionado');
       }
      </script>
      <br>

      <ion-label > <b> Observaciones</b></ion-label>
      <ion-item >

        <textarea  [disabled]="true" formControlName="field_observaciones" class="descaera" type="text" required></textarea>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <div class="linea"></div>
      <!--
      <ion-label class="txt">Valor declarado</ion-label>

      <ion-item >

        <ion-input [disabled]="disabledValue" formControlName="field_valor_declarado"  type="number" required></ion-input>

        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      -->
      <ion-label class="txt">Medio de pago</ion-label>
      <ion-item >

        <ion-input  [disabled]="true"  formControlName="field_metodo_de_pago"   required></ion-input>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>

      <ion-label class="txt"> <b class="domicilio_class">Costo Domicilio </b> </ion-label>
      <ion-item >

        <ion-input formControlName="field_precio_" [disabled]="true" type="text" required></ion-input>
      </ion-item>



      <ion-row>
        <ion-col>
          <ion-button   replaceUrl="true"  type="submit" color="warning" expand="block" class="send" > !Vapaesa! </ion-button>
        </ion-col>
      </ion-row>
    </form>
      </ion-card>
  </ion-card-content>
</ion-content>


