<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
      
    </ion-buttons>
    <ion-title>Resumen</ion-title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat Light &display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card-content class="contain">
    <form  [formGroup]="FormSend" (ngSubmit)="irAPagar()">
      <ion-label > <b>Disciplina </b></ion-label>



      
      <ion-item >
          
        <select disabled="true" formControlName="field_prefijo_origen" class="locacion">
          <option value="fútbol" selected >fútbol</option>
          <option value="ciclismo">ciclismo</option>
          <option value="tenis">tenis</option>
          <option value="baloncesto"> baloncesto</option>
        </select>
      </ion-item>
      <ion-label > <b>Posicion </b></ion-label>
      <ion-item>
        <select disabled="true" formControlName="field_direccion_entrega" class="locacion">
          <option value="item1" selected >item1</option>
          <option value="item2">item2</option>
          <option value="item3">item3</option>
          <option value="item4"> item4</option>
        </select>
       
      </ion-item>
      <ion-label > <b>Fecha</b> </ion-label>
      <ion-item >
        
        <ion-input formControlName="field_contacto" type="date" id="start" name="trip-start"
        value="2018-07-22"
        min="2018-01-01" max="2030-12-31" required></ion-input>
      </ion-item>

      <ion-label > <b>Hora</b> </ion-label>
      <ion-item >
        
        <ion-input formControlName="field_prefijo_destino"  type="time" name="hora" value="11:45:00" max="22:30:00" min="10:00:00" step="1" required></ion-input>
      </ion-item>
      <ion-label > <b>Punto de encuentro </b> </ion-label>
      <ion-item >
        <textarea disabled="true" formControlName="field_locacion_entrega" type="text" required></textarea>
       
        
        
      </ion-item>
      
      
      
   
      <ion-label > <b>Locación Destino</b> </ion-label>
      <ion-item >
        <select disabled="true" formControlName="field_locacion_destino" class="locacion">
          <option>Barranquilla</option>
          <option>Soledad</option>
          <option>Puerto Colombia</option>
          <option>Villa campestre</option>
          <option>La playa</option>
          <option>Galapa</option>
          <option>Tubara</option>
          <option>Baranoa</option>
          <option>Sabanalarga</option>
        </select>
        
      </ion-item>
  
      
      <ion-label > <b>Contacto</b> </ion-label>
      <ion-item >
        
        <textarea disabled="true" formControlName="field_contacto_destino" type="text" required></textarea>
      </ion-item>
     
     
  
      <ion-row>
        <ion-col>
          <ion-button   replaceUrl="true"  type="submit" color="warning" >Ir a Pagar</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card-content>
  
</ion-content>

