<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>

    </ion-buttons>
    <ion-title>
      {{ servicio_evaluado === 'carro_taller' ? 'Carro taller' : 'Especial' }}
    </ion-title>


  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="contentImg">
    <ion-img class="img-slider" [src]="gifUrl" alt=""></ion-img>

  </div>



 <ion-grid>
  <ion-row class="rowEmpresa" >
    <ion-col size="4" >
      <a href="https://wa.link/2e5v9z"> <img src="../../assets/botones/contc1.png" alt="" width="60%" height="90%"></a>
    </ion-col>
    <ion-col size="8">
      <a href="https://wa.link/2e5v9z"><h1 ><b>Chatea con un Asesor</b></h1></a>


    </ion-col>
  </ion-row>


  <ion-row class="rowEmpresa" >

    <ion-col size="4" >


      <a href="tel:+57313 4861215" ><img src="../../assets/botones/contc2.png"  alt="" width="60%" height="90%"></a>

    </ion-col>
    <ion-col size="8">



      <a href="tel:+57313 4861215" ><h1   class="title"><b>Llamanos al centro de contacto</b></h1></a>








  </ion-col>







  </ion-row>
</ion-grid>


</ion-content>

