<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>

    </ion-buttons>
    <ion-title>Fruver</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-row class="mensajeria">



  </ion-row>


  <ion-row>
    <ion-card *ngFor="let characte of character" (click)="irPageProductos(characte)">
      <ion-item>
       <ion-avatar>
         <ion-img [src]="urlBase+characte.field_img_apk" ></ion-img>

       </ion-avatar>
     <ion-label>
      <h2>{{characte.titulo}}  </h2>
     </ion-label>
     <ion-label>
        <h2>{{characte.field_price_simple}} </h2>
    </ion-label>

    </ion-item>
    </ion-card>

  </ion-row>


