<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
      <ion-title>Pedido en curso</ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid >
  <ion-row class="mensajeria">

    
    
   
    <h1>En curso</h1>
    
   
  
  </ion-row>
  
  <ion-item  (click)="irPageCompletarPedidos(character)"  >
  
  
    <ion-label >
      <h2>{{character}}</h2>
    </ion-label>

  

  </ion-item>
  

</ion-grid>



</ion-content>