header.background{
    --background: url(../../assets/índice.jpeg) 0 0/100% 100% no-repeat;

}
ion-content{
    --background: url(../../assets/botones/inicioSesion.png) 0 0/100% 100% no-repeat;
}
.small-text{
    font-family: 'Montserrat', sans-serif;
    color: white;
}
small{
    font-family: 'Montserrat', sans-serif;

}
.locacion{
    background: white;
    border: unset;
    width: 100%;
    height: 25px;
    color: #262262;
}


.contain {
 
    text-align: center;
  
    position: center;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
   
  }
  select{
    font-size: 110%;
      color: #262262;
    font-family: 'Montserrat', sans-serif;
      height: 25px;
    border: unset;
      width: 100%;
      background-color: white !important;
  }
  ion-label{
    font-family: 'Montserrat', sans-serif;
    display: block;
text-align: center;
   color: white;
   

  }
  span{
      color: #fff200;
  }
  
  ion-input{
    color: #262262;
      height: 25px;
      background-color: white;
  }
  ion-item{
    --ion-background-color: transparent !important;
      --min-height: 0 !important;
      --border-width: 0 0 0 0 !important;
--inner-border-width: 0 !important;
--show-full-highlight: 0 !important;
--show-inset-highlight: 0 !important;
  }
  a{
      text-decoration: none;
  }
  ion-button{
      text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
      display: inline-block;
      border-radius: none;
      color: #262262;
  }
  ion-menu-button{
    color: white;
    
}
ion-icon{
    color: white;
    font-size: 2rem;
}
input{
    font-size: 130%;
    margin-right: 20px;
    margin-left: 15px;
    border: none !important;
    background-color: #262262;
    color: white;
}
input[type="button"] {
    color: white !important;

}

img{
    width: 100%;
    
}
.ion-color-warning {
    --ion-color-base: #FFF200  !important;
}