<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>

    </ion-buttons>
    <ion-title>Resumen</ion-title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat Light &display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card-content class="contain">
      <ion-card>

    <form  [formGroup]="FormSend" (ngSubmit)="irAPagar()">
      <ion-label > <b>origen :</b></ion-label>
      <ion-item >
        <select disabled formControlName="field_locacion_entrega" class="locacion">
          <option *ngFor="let locacion of locaciones"   value="{{locacion.name}}">{{locacion.name}}</option>

        </select>

        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>

      <ion-item >



        <textarea  [disabled]="disabledValue"  formControlName="field_direccion_entrega"  type="text" siz required></textarea >
          <ion-buttons>
            <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
          </ion-buttons>
      </ion-item>

      <ion-item>
         <textarea disabled  id="ip" formControlName="field_barrio_origen"  #input2 type="text"></textarea>

         <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>

       </ion-item>



       <ion-label><b>Contacto Nombre :</b> </ion-label>
       <ion-item >

         <textarea formControlName="field_nombre_c_origen" placeholder="Nombre" type="text" required></textarea>
         <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
       </ion-item>

      <ion-label > <b>Contacto Teléfono:</b> </ion-label>
      <ion-item >

        <textarea   [disabled]="disabledValue" formControlName="field_contacto" type="text" required></textarea >
          <ion-buttons>
            <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
          </ion-buttons>
      </ion-item>



      <div class="linea"></div>
      <ion-label > <b>destino :</b></ion-label>
      <ion-item >
        <select disabled formControlName="field_locacion_destino" class="locacion">
          <option *ngFor="let locacion of locaciones"   value="{{locacion.name}}">{{locacion.name}}</option>
        </select>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-item >


        <textarea  [disabled]="disabledValue" formControlName="field_direccion_destino" type="text" required></textarea >
          <ion-buttons>
            <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
          </ion-buttons>
      </ion-item>
      <ion-item>
         <textarea disabled id="ip" formControlName="field_barrio_destino" (input)="inputChanged2($event)" #input2 type="text">{{barrio}}</textarea>
         <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>


       </ion-item>




       <ion-label><b>Contacto Nombre :</b> </ion-label>
       <ion-item >

         <textarea formControlName="field_nombre_c_destino" placeholder="Nombre" type="text" required></textarea>
         <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
       </ion-item>


      <ion-label  *ngIf="contactoDestino != undefined" > <b>Contacto Teléfono:</b> </ion-label>
      <ion-item  *ngIf="contactoDestino != undefined">

        <textarea   [disabled]="disabledValue" formControlName="field_contacto_destino" type="text" required></textarea >
          <ion-buttons>
            <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
          </ion-buttons>
      </ion-item>



      <ion-grid>
        <ion-row class="align-items-center">

          <ion-col size="7" class="align-left">
            <ion-label><b>Ida y vuelta</b></ion-label>
          </ion-col>


          <ion-col size="5" class="align-right">
          <input id="field_ida_y_vuelta" formControlName="field_ida_y_vuelta" value="true" type="checkbox" checked>
          </ion-col>
        </ion-row>
      </ion-grid>

      <br>
    <script>

      if (document.getElementById('field_ida_y_vuelta').checked)
{
alert('checkbox1 esta seleccionado');
}
var checkbox = document.getElementById('field_ida_y_vuelta');
checkbox.addEventListener("change", validaCheckbox, false);
function validaCheckbox()
{
  var checked = checkbox.checked;
  if(checked){
    alert('checkbox1 esta seleccionado');
  }
}
if( $('#checkbox1').prop('checked') ) {
    alert('checkbox1 esta Seleccionado');
}
    </script>
      <br>

      <!-- ion-label *ngIf="quienPaga != undefined" > <b>¿Quien paga?* </b> </ion-label>

  <div *ngIf="quienPaga != undefined" class="check">
    <input id="checkbox1" disabled="true" class="recogerInput" formControlName="field_quien_paga_" value="Cobrar en destino"  class="form-check-input" type="radio" checked>
    <label class="form-check-label" for="flexRadioDefault1">
      Cobrar en destino
    </label>

  </div>
  <div *ngIf="quienPaga != undefined" class="check2">
    <input id="checkbox2" disabled="true"  class="recogerInput" formControlName="field_quien_paga_" value="Cobrar en Origen" class="form-check-input" type="radio" checked>
    <label class="form-check-label" for="flexRadioDefault2">
     Cobrar en Origen
    </label>
  </div-->

  <script>
     if(document.getElementById('field_respuesta_documentos').checked){
    alert('field_respuesta_documentos esta seleccionado');
   }
  </script>
  <br>
      <ion-label  *ngIf="valorDeclarado != undefined" class="txt">Valor declarado</ion-label>
      <ion-item   *ngIf="valorDeclarado != undefined">

        <ion-input [disabled]="disabledValue" formControlName="field_valor_declarado"  type="number" required></ion-input>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-label class="txt">Medio de pago</ion-label>
      <ion-item >

        <ion-input  disabled formControlName="field_metodo_de_pago"   required></ion-input>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>

      <ion-label *ngIf="observaciones != undefined" > <b> Descripción</b></ion-label>
      <ion-item *ngIf="observaciones != undefined" >

        <textarea [disabled]="disabledValue" size="25" formControlName="field_observaciones" class="descaera" type="textarea" required></textarea>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-label class="txt"> <b class="domicilio_class">Costo Domicilio </b> </ion-label>
      <ion-item >

        <ion-input formControlName="field_precio_" [disabled]="true" type="text" required></ion-input>
      </ion-item>



      <ion-row>
        <ion-col>
          <ion-button   replaceUrl="true"  type="submit" color="warning" expand="block" > <b>!Vapaesa</b> </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
  </ion-card-content>

</ion-content>

