<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
      
    </ion-buttons>
    <ion-title>Resumen</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-card-content class="contain">
      <ion-card>

    <form  [formGroup]="FormSend" (ngSubmit)="irAPagar()">
      <ion-label > <b>Donde te Encuentras</b></ion-label>
      <ion-item >
        <select  disabled formControlName="field_locacion_entrega" class="locacion">
          <option *ngFor="let locacion of locaciones"   value="{{locacion.name}}">{{locacion.name}}</option>
        </select>
        
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-item >
        
    
          
        <textarea  [disabled]="disabledValue"  formControlName="field_direccion_entrega"  type="text" siz required></textarea >
          <ion-buttons>
            <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
          </ion-buttons>
      </ion-item>

      <ion-item>
         <textarea disabled  id="ip" formControlName="field_barrio_origen"  #input2 type="text"></textarea>
         
         <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
     
       </ion-item>
   
      


<br>
      
<ion-label><b>Contacto Nombre :</b> </ion-label>
<ion-item >
  
  <textarea  [disabled]="disabledValue"  formControlName="field_nombre_c_origen" placeholder="Nombre" type="text" required></textarea>
  <ion-buttons>
    <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
  </ion-buttons>
</ion-item>

<ion-label > <b>Contacto Telefono:</b> </ion-label>
<ion-item >
 
 <textarea   [disabled]="disabledValue" formControlName="field_contacto" type="text" required></textarea >
   <ion-buttons>
     <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
   </ion-buttons>
</ion-item>

      
      <ion-label>Necesitas Que me quede?</ion-label>
     <label class="switchBtn">
      <input disabled  formControlName="field_ida_y_vuelta" type="checkbox">
      
      <br>

      <!--
  <ion-label > <b>De Que Quieres Hablar</b> </ion-label>
      <ion-item >
        <select disabled="true"   formControlName="field_tema_de_interes" class="locacion">
          <option>N/A</option>
          <option>Vivencias</option>
          <option>Educación</option>
          <option>Farandula</option>
          <option>Religion</option>
         
        </select>
        
        
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-label class="txt">Musica Popular Preferida</ion-label>
      <ion-item >
        
        <select disabled="true"  formControlName="field_musica_preferida" class="locacion">
          <option>N/A</option>
          <option>Pop</option>
          <option>Balada</option>
          <option>Champeta</option>
          <option>Vallenato</option>
          <option>Urbano</option>
          <option>Reggae</option>
          <option>Reggaeton</option>
          <option>Electrónica</option>
        </select>
        
        
        
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>

      -->
    
      
      
      <div class="linea"></div>
      
      <ion-label > <b>A donde te Acompaño?</b> </ion-label>
      <ion-item >
        <select disabled formControlName="field_locacion_destino" class="locacion">
          <option *ngFor="let locacion of locaciones"   value="{{locacion.name}}">{{locacion.name}}</option>
        </select>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>
      <ion-item >
        
        
        <textarea  [disabled]="disabledValue" formControlName="field_direccion_destino" type="text" required></textarea >
          <ion-buttons>
            <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
          </ion-buttons>
      </ion-item>
      <ion-item>
         <textarea disabled id="ip" formControlName="field_barrio_destino" (input)="inputChanged2($event)" #input2 type="text">{{barrio}}</textarea>
         <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      
     
       </ion-item>
    
   
    
 
   
  
      
  
  
      
      

      <div class="linea"></div>

      <ion-label class="txt">Medio de pago</ion-label>
      <ion-item >
        
        <ion-input  disabled formControlName="field_metodo_de_pago"   required></ion-input>
        <ion-buttons>
          <ion-icon (click)=" enableInput()" slot="primary" name="pencil-outline"></ion-icon>
        </ion-buttons>
      </ion-item>

      <ion-label class="txt"> <b class="domicilio_class">Costo Domicilio </b> </ion-label>
      <ion-item >
        
        <ion-input formControlName="field_precio_" [disabled]="true" type="text" required></ion-input>
      </ion-item>
      
    
    
     
  </label>
      <ion-row>
        <ion-col>
          <ion-button replaceUrl="true"  type="submit" color="warning" expand="block">¡Vapaesa!</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card>
  </ion-card-content>
  
</ion-content>
