<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title>Productos</ion-title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat Light &display=swap" rel="stylesheet">


  </ion-toolbar>
</ion-header>
<ion-content>


<ion-grid >

  <ion-row>
  <ion-card >
        <!--ion-title>Productos</ion-title-->
    <h1 class="title"> {{product.titulo}} </h1>
<ion-img [src]="urlBase+product.field_img_apk"></ion-img>

<p class="detalle_producto"> {{product.field_descripcion_del_producto}} </p>
<br>
<br>

<ion-row>

  <p class="title_blue">${{precioBase}}</p>
  <p class="title_blue agregar">Agregar </p>
<div class="counter">
  <ion-icon name="remove-outline" (click)="rest()" class="rest" ></ion-icon>


  <ion-input class="input" type="text"  disabled=true > <h1 class="cont">{{cantidadDestinos}} </h1></ion-input>

  <ion-icon name="add-outline" (click)="add()" class="mas" ></ion-icon>

</div>

 </ion-row>
 <form [formGroup]="FormSend" >


  <div class="gray-line"></div>
  <p class="title_blue">Observación :</p>
   <ion-item>
<textarea class="observacion" type="text" formControlName="observacion"   > </textarea>
</ion-item>
</form>
<ion-row>
  <ion-button replaceUrl="true" (click)="irAgregarCarrito()" type="submit" color="danger" class="colorButtom" expand="block"><br><small> <b>Añadir Producto</b>   </small></ion-button>


</ion-row>
<ion-row>

  <ion-button replaceUrl="true" (click)="irASeguirComprando()" type="submit" color="danger"  class="colorButtom" expand="block" ><br>  <small> <b>Seguir Comprando</b> </small></ion-button>


</ion-row>
<ion-row>

  <ion-button replaceUrl="true" (click)="irPageCarritoCompras()" type="submit" color="warning" expand="block"><br><small class="smallBlank"><b>Completar Orden</b> </small></ion-button>


</ion-row>




   <br>
   <br>
  </ion-card>


  </ion-row>






</ion-grid>



</ion-content>