.splash-screen {
  width: 100vw;  /* Full width of the viewport */
  height: 100vh; /* Full height of the viewport */
  background-image: url('../../../assets/vps.gif'); /* The GIF as the background */
  background-size: cover; /* The GIF covers the entire screen */
  background-position: center center; /* Center the GIF on both axes */
  background-repeat: no-repeat; /* Prevents repeating */
  background-attachment: fixed; /* Ensures it stays fixed during scroll */
}
