<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>

    </ion-buttons>
    <ion-title>Recoger mascotas</ion-title>


  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="contentImg">
    <ion-img class="img-slider" src="../../assets/banners/mascotas.gif" alt=""></ion-img>
  </div>
    <ion-card-content class="contain">
    <form  [formGroup]="FormSend" (ngSubmit)="sendForm()">
      <ion-label > <b>¿Dónde te encuentras ?*</b></ion-label>




      <ion-item >

        <select formControlName="field_prefijo_origen">
          <option value="cra" selected >CRA</option>
          <option value="cll">Cll</option>
          <option value="diagonal">DIAGONAL</option>
          <option value="transversal">TRANSVERSAL</option>
        </select>

        <textarea formControlName="field_direccion_entrega" class="corto" type="text" siz required></textarea>
      </ion-item>
      <ion-label > <b>Contacto*</b> </ion-label>
      <ion-item >

        <textarea formControlName="field_contacto" type="text" required></textarea>
      </ion-item>
      <ion-label > <b>Locación*</b> </ion-label>
      <ion-item >
        <select formControlName="field_locacion_entrega" class="locacion">
          <option>Barranquilla</option>

        </select>


      </ion-item>



      <ion-label > <b>Tamaño* </b> </ion-label>
      <ion-item >
        <select formControlName="field_locacion_destino" class="locacion">
          <option value="Pequeño" >Pequeño</option>
          <option value="Mediano">Mediano</option>
          <option value="Grande">Grande</option>



        </select>

      </ion-item>
      <ion-label > <b>Raza*</b> </ion-label>
      <ion-item >
        <select formControlName="field_contacto_destino" class="locacion">
          <option value="Pitbull">Pitbull</option>
          <option value="Bulldog">Bulldog</option>
          <option value="Boxer">Boxer</option>
          <option value="chihuahua">chihuahua</option>

          <option value="Beagle">Beagle</option>
          <option alue="pastor alemán">pastor alemán</option>




        </select>

      </ion-item>

      <ion-label > <b>Observaciones*</b></ion-label>
      <ion-item >

        <textarea formControlName="field_observaciones" class="descaera" type="text" rows="10" cols="50" required></textarea>
      </ion-item>





      <ion-row>
        <ion-col>
          <ion-button replaceUrl="true"  type="submit" color="warning" > <b>¡VaPa'Esa!</b> </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-card-content>

</ion-content>