<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs"></ion-back-button>
      <ion-title>Buscar</ion-title>
    </ion-buttons>
    
  </ion-toolbar>
</ion-header>


<ion-grid >
  <ion-row class="mensajeria">

    
    
   
    <h1>Menu</h1>
    
   
  
  </ion-row>
  
  <ion-row class="mensajeria">


    
   
    <ion-button [routerLink]="['/restaurante1']" type="submit" color="succes" expand="block">Combo 1<br><small>Pizzas</small></ion-button>
    
   
  
  </ion-row>
  <ion-row>
   
    <ion-button [routerLink]="['/restaurante2']" type="submit" color="succes" expand="block">Combo 2<br><small>Comida de mar</small></ion-button>
    
   
   
  </ion-row>
  

</ion-grid>

