ion-title{
    text-align: center;
    text-transform: uppercase;
}
ion-toolbar{
    color: white;
    --ion-background-color: #262262;
}
ion-button{
    display: inline-block;
    --ion-background-color: #fff0;
    color: black;
    margin-left: auto;
    margin-right: auto;
}
body{
    --ion-color-primary-contrast: #ffffff;
  }
 
ion-tab-bar{
    --ion-background-color: #262262;

}
ion-icon,ion-label{

    color: yellow;
}
h1{
    margin: auto;
    
}
ion-row{
    height: auto;
    width: auto;
}
ion-icon{
    font-size: 60px;
}