<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="index"></ion-back-button>
      <ion-title> </ion-title>


    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-label class="title"><b>recuperacion de Contraseña</b></ion-label>
  <form  [formGroup]="regisForm" (ngSubmit)="resetPassword()">
    <ion-item >
      <ion-label class="correo">Correo</ion-label>
      <ion-input type="email" pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z-_.]{2,}[.]{1}[a-zA-Z]{2,}" formControlName="mail"  required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button  type="submit" color="warning" expand="block" class="send">Recuperar</ion-button>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button fill="clear" color="primary" (click)="codigoRegistro()"><span><b>Ya tengo un código para activar usuario!</b></span></ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button fill="clear" color="primary" (click)="codigoCambioContrasena()"> <span><b>Ya tengo código para cambiar contraseña!</b></span></ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>