ion-back-button{
    color: white;
}
ion-toolbar{

    --ion-background-color: #262262;
}
ion-content{
    --ion-background-color: #262262;

}
.title{
    text-transform: uppercase;
    color: white;
    display: block;
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
}
ion-label{
    display: flex;
    color: white;

}
ion-input{
    background-color: white;
    color: black;
    height: 25px;
    margin-left: 5%;
}
.correo{
    color: white;
}
body{
    --ion-color-primary-contrast: #ffffff;
  }

  .ion-color-warning {
    --ion-color-base: #FFF200  !important;
}
ion-button{
    font-family: 'Poppins', sans-serif;
    display: inline-block;

    color: #262262;
    margin-left: auto;
    margin-right: auto;
}
ion-row{
    text-align: center;
}

.send{

    color: #262262;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;


  }

  span{
    color: #fff200;
    font-size: 10px;
}
