<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title>Trasteo</ion-title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">
  </ion-toolbar>
</ion-header>


<ion-content>

  <div class="contentImg">
    <ion-img class="img-slider" src="../../assets/banners/Trasteo.gif" alt=""></ion-img>

  </div>

    <ion-card-content class="contain">
      <swiper #swiper [virtual]="true"  [config]="swiperConfig">
        <ng-template swiperSlide >
      <ion-card>
    <form  [formGroup]="FormSend" (ngSubmit)="sendForm()">
      <ion-label > <b>¿Dónde te encuentras ?*</b></ion-label>
      <ion-item id="locacionOrigen" [disabled]="disabledValue"   >
        <ion-select  (ionChange)="regionOrigen($event)"   formControlName="field_locacion_entrega" class="locacion">

          <ion-select-option *ngFor="let locacion of locaciones"   value="{{locacion.name}}">{{locacion.name}}</ion-select-option>

         </ion-select>


      </ion-item>

      <ion-item >


        <textarea formControlName="field_direccion_entrega" placeholder="Dirección" type="text" size="..." required></textarea>
    </ion-item>

    <ion-item id="itemOrigen" [disabled]="bloquearInputBarrio">
      <textarea [hidden]="ocultarInput" formControlName="field_barrio_origen"  placeholder="Barrio de Origen" #input (input)="inputChanged($event)" type="text">{{barrio}}</textarea>

    </ion-item>
    <ion-list [hidden]="items.length <= 0" >
     <ion-item (click)="selected(item, input)" *ngFor="let item of items">
       {{item.name}}
     </ion-item>
   </ion-list>





   <ion-label><b>Contacto Nombre :</b> </ion-label>
          <ion-item >

            <textarea formControlName="field_nombre_c_origen" placeholder="Nombre" type="text" required></textarea>
          </ion-item>

         <ion-label><b>Contacto Teléfono:</b> </ion-label>
          <ion-item >

            <textarea formControlName="field_contacto" placeholder="Número de celular" type="text" required></textarea>
          </ion-item>






          <ion-label><b>Seleccione*</b></ion-label>
          <div class="check">
            <input
              id="checkbox1"
              formControlName="body"
              value="Carga pequeña"
              class="form-check-input"
              type="radio"
              (ionChange)="setCargaType($event)"
              [checked]="selectedCargaType === 'Carga pequeña'">
            <label class="form-check-label" for="checkbox1">
              Carga pequeña
            </label>
          </div>

          <div>
            <input
              id="checkbox2"
              formControlName="body"
              value="Carga grande"
              class="form-check-input"
              type="radio"
              (ionChange)="setCargaType($event)"
              [checked]="selectedCargaType === 'Carga grande'">
            <label class="form-check-label" for="checkbox2">
              Carga grande
            </label>

          </div>



      <script>
         if(document.getElementById('field_contacto_destino').checked){
        alert('field_contacto_destinos esta seleccionado');
       }
      </script>






      <ion-row class="rowBorder">
        <ion-col>
          <ion-button expand="block" (click)="slideNext()" color="danger" > <small><b>Siguiente</b></small>  </ion-button>
        </ion-col>
      </ion-row>
    </form>
      </ion-card>
        </ng-template>

        <ng-template swiperSlide >
          <ion-card>
        <form  [formGroup]="FormSend" (ngSubmit)="sendForm()">


          <ion-label > <b>¿ A dónde te diriges ?*</b> </ion-label>
          <ion-item  >
            <ion-select  (ionChange)="region($event)"   formControlName="field_locacion_destino" class="locacion">

              <ion-select-option *ngFor="let locacion of locaciones"   value="{{locacion.name}}">{{locacion.name}}</ion-select-option>

             </ion-select>

          </ion-item>

   <ion-item >


              <textarea placeholder="Dirección"  formControlName="field_direccion_destino" type="text" required></textarea>
            </ion-item>


            <ion-item id="itemDestino" [disabled]="bloquearInputBarrioDestino">
               <textarea [hidden]="ocultarInput" id="ip" formControlName="field_barrio_destino" placeholder="Barrio de Destino" (input)="inputChanged2($event)" #input2 type="text">{{barrio}}</textarea>



             </ion-item>
             <ion-list [hidden]="items2.length <= 0" >
              <ion-item (click)="selected2(item, input2)" *ngFor="let item of items2">
                {{item.name}}
              </ion-item>
            </ion-list>





            <ion-label><b>Contacto Nombre :</b> </ion-label>
          <ion-item >

            <textarea formControlName="field_nombre_c_destino" placeholder="Nombre" type="text" required></textarea>
          </ion-item>



            <ion-label > <b>Contacto Teléfono:</b> </ion-label>
            <ion-item >

              <textarea formControlName="field_contacto_destino" placeholder="Número de celular" type="text" required></textarea>
            </ion-item>






          <ion-row class="rowBorder">
            <ion-col>
              <ion-button replaceUrl="true" (click)="slideNext2()" color="danger" expand="block" > <small><b>Siguiente</b></small>  </ion-button>
              <ion-button replaceUrl="true"  (click)="slidePrev()" color="danger" expand="block" > <small> <b>atras</b></small>  </ion-button>

            </ion-col>
          </ion-row>
        </form>
          </ion-card>
            </ng-template>

            <ng-template swiperSlide >
              <div class="slider" >
                <ion-card>

              <form  [formGroup]="FormSend" (ngSubmit)="sendForm()">

                <ion-label> <b>Medio de pago:</b> </ion-label>
                <ion-grid>
                  <ion-row>

                     <ion-col size="5">
                       <img src="../../assets/botones/PAGOSCOLOR-97.png" class="col-img" width="80%" height="80%" alt="">
                     </ion-col>
                     <ion-col size="7">
                      <div class="form-check">
                        <input type="radio" formControlName="field_metodo_de_pago" value="nequi"  class="form-check-input"  >

                      </div>


                      </ion-col>
                   </ion-row>

                    <ion-row>

                      <ion-col size="5">
                        <img src="../../assets/botones/PAGOSCOLOR-98.png" class="col-img"  width="80%" height="80%" alt="">
                      </ion-col>
                      <ion-col size="7">
                        <div class="form-check">
                          <input formControlName="field_metodo_de_pago" type="radio" value="daviplata" class="form-check-input"  >

                        </div>


                        </ion-col>
                    </ion-row>
                    <!--ion-row>

                      <ion-col size="5">
                        <img src="../../assets/botones/PAGOSCOLOREAZUL-99.png" class="col-img" width="80%" height="80%" alt="">
                      </ion-col>
                      <ion-col *ngIf="permitirPagoEfectivo=='On'" size="7">
                        <div class="form-check">
                        <input formControlName="field_metodo_de_pago" type="radio" value="efectivo" class="form-check-input" >
                        </div>



                      </ion-col>
                    </ion-row-->

                   <script>
                     document.getElementById("formulario").addEventListener("submit", function(event){
                     let hasError = false;


                     // obtenemos todos los input radio del grupo horario que esten chequeados
                     // si no hay ninguno lanzamos alerta
                     if(!document.querySelector('input[name="field_medio_de_transporte"]:checked')) {
                       alert('Error, rellena el campo horario');
                       hasError = true;
                       }



                     // si hay algún error no efectuamos la acción submit del form
                     if(hasError) event.preventDefault();
                 });
                   </script>



                </ion-grid>



                <ion-label > <b> Observación*</b></ion-label>
                <ion-item >

                  <textarea formControlName="field_observaciones"  class="descaera" type="text" rows="10" cols="50" required></textarea>
                </ion-item>



                <ion-row class="rowBorder">
                  <ion-col>
                    <ion-button replaceUrl="true"  type="submit" color="danger" expand="block" > <small><b>¡VaPa'Esa!</b></small>  </ion-button>

                    <ion-button replaceUrl="true"  (click)="slidePrev()" color="danger" expand="block" > <small><b>atras</b></small>  </ion-button>
                  </ion-col>
                </ion-row>
              </form>
            </ion-card>

              </div>
            </ng-template>
      </swiper>
  </ion-card-content>

</ion-content>