<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">

      <ion-back-button ></ion-back-button>
    </ion-buttons>

    <ion-title>Procesamiento de orden</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>

<ion-grid >
  <ion-row class="mensajeria">


    <h1><b>Su Orden sera cargada</b></h1>
    <br>
    <br>
  <br>




  </ion-row>

  <ion-row class="mensajeria">




  <br>
  <br>
    <br>





  </ion-row>







  <br>
  <br>
  <ion-row>






  </ion-row>
  <ion-row>
  <ion-button replaceUrl="true" (click)="irPageOrden()" type="submit" color="succes" expand="block">Ver Orden</ion-button>
</ion-row>
</ion-grid>
</ion-content>
