<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>

    </ion-buttons>
    <ion-title>Detalles de ordenes</ion-title>
  </ion-toolbar>
</ion-header>




<ion-content scrollY="true" >

  <div class="contentImg">
    <ion-img class="img-slider-top" src="../../assets/banners/ordenes_creadas.gif" alt=""></ion-img>

  </div>
<div  id="scroll-list">


      <ion-card  >
        <ion-grid>
          <ion-row>
            <ion-col>
              <img class="img-slider" [src]="urlBase+character36" alt="">
            </ion-col>
            <ion-col *ngIf="character38 != 'Mensajeria Ruta padre'">
              <img class="img-slider" [src]="urlBase+character37" alt="">
            </ion-col>
          </ion-row>
          <ion-row class="rowBorder">
            <ion-col >
              <div class="colBoton"  color="danger" > <small>Origen</small> </div>
            </ion-col>
            <ion-col *ngIf="character38 !== 'Mensajeria Ruta padre'"  >
              <div class="colBoton"  color="danger" > <small>Destino</small> </div>
            </ion-col>
          </ion-row>
        </ion-grid>

        <h1> Orden :  </h1>
        <h1 *ngIf="character38 !== undefined"><b>{{character38}} </b>  </h1>
        <h1 *ngIf="character26 !== undefined"> Nro de Orden: </h1>
        <h1 *ngIf="character26 !== undefined"> <b>{{character26}} </b>   </h1>
        <div class="linea"></div>

          <h1 *ngIf="character1 !== undefined"> <b>Datos de origen </b>  </h1>
          <h1 *ngIf="character1 !== undefined"> <b>Dirección </b>  </h1>
          <h1 *ngIf="character1 !== undefined"> {{character1}}     </h1>


          <h1 *ngIf="character34 != undefined"> <b>Barrio:</b>  </h1>
          <h1 *ngIf="character34 != undefined"> {{character34}}  </h1>


    <h1 *ngIf="character43 != undefined"> <b>Nombre del Establecimiento:</b>  </h1>
    <h1 *ngIf="character43 != undefined"> {{character43}}  </h1>

          <h1 *ngIf="character2 != undefined"> <b>Locacion:</b>  </h1>
          <h1 *ngIf="character2 != undefined"> {{character2}}  </h1>
          <h1 *ngIf="character39 != undefined"><b>Nombre de contacto: </b>  </h1>
          <h1 *ngIf="character39 != undefined">{{character39}}  </h1>

          <h1 *ngIf="character20 != undefined && character31!='Completado'"><b>Número de Contacto:</b>   </h1>
          <h1 *ngIf="character20 != undefined && character31!='Completado'"> {{character20}}  </h1>
          <div *ngIf="character4 != undefined" class="linea"></div>









          <h1 *ngIf="character4 != undefined"> <b>Datos Destino </b>  </h1>



          <h1 *ngIf="character4 != undefined"> <b>Dirección </b>  </h1>
        <h1 *ngIf="character4!= undefined">{{character4}} </h1>



          <h1 *ngIf="character35 != undefined"> <b>Barrio:</b>  </h1>
          <h1 *ngIf="character35 != undefined"> {{character35}}  </h1>



          <h1 *ngIf="character40 != undefined && character31!='Completado'"><b>Nombre de contacto: </b>  </h1>
          <h1 *ngIf="character40 != undefined && character31!='Completado'">{{character40}}  </h1>
        <h1 *ngIf="character5 != undefined"> <b>Contacto:  </b> </h1>
        <h1 *ngIf="character5 != undefined"> {{character5}}  </h1>



        <h1 *ngIf="character6 != undefined"><b>Locacion: </b>  </h1>
        <h1 *ngIf="character6 != undefined"> {{character6}}   </h1>


        <div class="linea"></div>



        <h1 *ngIf="character14 != undefined"><b>Observaciones: </b> </h1>
        <h1 *ngIf="character14 != undefined"> {{character14}}  </h1>

        <h1 *ngIf="character15 != undefined"><b>Observaciones:</b>   </h1>
        <h1 *ngIf="character15 != undefined"> {{character15}}   </h1>


        <h1 *ngIf="character7 != undefined"><b>Observaciones:</b>    </h1>
        <h1 class="h1Observ" *ngIf="character7 != undefined"> {{character7}}  </h1>


        <h1 *ngIf="character28 != undefined"> <b>Locacion:</b>   </h1>
        <h1 *ngIf="character28 != undefined"> {{character28}} </h1>

        <h1 *ngIf="character29 != undefined"> <b>Locacion:</b>   </h1>
        <h1 *ngIf="character29 != undefined"> {{character29}}   </h1>


        <h1 *ngIf="character30 != undefined"><b>Contacto: </b>   </h1>
        <h1 *ngIf="character30 != undefined"> {{character30}}  </h1>






          <h1 *ngIf="character4 != undefined"> <b>Detalles </b>  </h1>
          <h1 *ngIf="character31 != undefined"><b>Estado del servicio: </b>    </h1>
          <h1 *ngIf="character31 != undefined"> {{character31}} </h1>
          <br>
          <h1 *ngIf="character16 != undefined" ><b>Que quieres comprar: </b> </h1>
          <h1 *ngIf="character16 != undefined" > {{character16}}  </h1>



          <h1 *ngIf="character32 != undefined" ><b>Respuesta Documentos:</b>  </h1>
          <h1 *ngIf="character32 != undefined" > {{character32}}  </h1>


          <h1 *ngIf="character21 != undefined" > <b>Ida y Vuelta: </b> </h1>
          <h1 *ngIf="character21 != undefined" >{{character21}}  </h1>


          <h1 *ngIf="character8 != undefined" > <b>Metodo de pago:</b>  </h1>
          <h1 *ngIf="character8 != undefined" > {{character8}}   </h1>


          <h1 *ngIf="character12 != undefined" ><b>fecha creacion orden:</b>  </h1>
          <h1 *ngIf="character12 != undefined" > {{character12}}  </h1>


          <h1 *ngIf="character17 != undefined" ><b> Farmacia:</b> </h1>
          <h1 *ngIf="character17 != undefined" > {{character17}}   </h1>

          <h1 *ngIf="character19 != undefined" > Tema de interes:</h1>
          <h1 *ngIf="character19 != undefined" > <b>{{character19}} </b>  </h1>

          <h1 *ngIf="character18 != undefined" > <b>Musica preferida:</b> </h1>
          <h1 *ngIf="character18 != undefined" >{{character18}}  </h1>

          <h1 *ngIf="character23 != undefined" ><b>Medio de transporte:</b>    </h1>
          <h1 *ngIf="character23 != undefined" > {{character23}} </h1>

          <h1 *ngIf="character24 != undefined" ><b>Valor declarado:</b>  </h1>
          <h1 *ngIf="character24 != undefined" > {{character24}}  </h1>




        <br>
          <div *ngIf="character41=='5'" >



            <h1 >Calificado por el Cliente </h1>




          <p class="clasificacion">
            <input id="radio1" type="radio" name="estrellas"    value="5"><!--
            --><label class="start5" for="radio1">★</label><!--
            --><input id="radio2" type="radio" name="estrellas"  value="4"><!--
            --><label class="start5" for="radio2">★</label><!--
            --><input id="radio3" type="radio" name="estrellas"  value="3"><!--
            --><label class="start5" for="radio3">★</label><!--
            --><input id="radio4" type="radio" name="estrellas" value="2"><!--
            --><label class="start5" for="radio4">★</label><!--
            --><input id="radio5" type="radio" name="estrellas"  value="1"><!--
            --><label class="start5" for="radio5">★</label>
          </p>


          <h1 *ngIf="character42 != undefined" ><b>Comentario:</b>  </h1>
          <h1 *ngIf="character42 != undefined" > {{character42}}  </h1>





      </div>

      <div *ngIf="character41=='4'" >



        <h1 class="titleComent">Calificado por el Cliente </h1>




      <p class="clasificacion">
      <input id="radio5" type="radio" name="estrellas"  value="1"><!--
      --><label class="startGray" for="radio5">★</label><!---->
        <input id="radio1" type="radio" name="estrellas"    value="5"><!--
        --><label class="start5" for="radio1">★</label><!--
        --><input id="radio2" type="radio" name="estrellas"  value="4"><!--
        --><label class="start5" for="radio2">★</label><!--
        --><input id="radio3" type="radio" name="estrellas"  value="3"><!--
        --><label class="start5" for="radio3">★</label><!--
        --><input id="radio4" type="radio" name="estrellas" value="2"><!--
        --><label class="start5" for="radio4">★</label>

      </p>





      <h1 *ngIf="character42 != undefined" ><b>Comentario:</b>  </h1>
      <h1 *ngIf="character42 != undefined" > {{character42}}  </h1>


    </div>

    <div  *ngIf="character41=='3'" >



      <h1 class="titleComent">Calificado por el Cliente </h1>




    <p class="clasificacion">
    <input id="radio4" type="radio" name="estrellas" value="2"><!--
    --><label class="startGray" for="radio4">★</label><!--
    --><input id="radio5" type="radio" name="estrellas"  value="1"><!--
    --><label class="startGray" for="radio5">★</label><!---->
      <input id="radio1" type="radio" name="estrellas"    value="5"><!--
      --><label class="start5" for="radio1">★</label><!--
      --><input id="radio2" type="radio" name="estrellas"  value="4"><!--
      --><label class="start5" for="radio2">★</label><!--
      --><input id="radio3" type="radio" name="estrellas"  value="3"><!--
      --><label class="start5" for="radio3">★</label>

    </p>




    <h1 *ngIf="character42 != undefined" ><b>Comentario:</b>  </h1>
    <h1 *ngIf="character42 != undefined" > {{character42}}  </h1>



    </div>
    <div *ngIf="character41=='2'" >



      <h1 class="titleComent">Calificado por el Cliente </h1>




    <p class="clasificacion">
    <label class="startGray" for="radio3">★</label><!--
    --><input id="radio4" type="radio" name="estrellas" value="2"><!--
    --><label class="startGray" for="radio4">★</label><!--
    --><input id="radio5" type="radio" name="estrellas"  value="1"><!--
    --><label class="startGray" for="radio5">★</label><!---->
      <input id="radio1" type="radio" name="estrellas"    value="5"><!--
      --><label class="start5" for="radio1">★</label><!--
      --><input id="radio2" type="radio" name="estrellas"  value="4"><!--
      --><label class="start5" for="radio2">★</label><!--
      --><input id="radio3" type="radio" name="estrellas"  value="3">

    </p>



    <h1 *ngIf="character42 != undefined" ><b>Comentario:</b>  </h1>
    <h1 *ngIf="character42 != undefined" > {{character42}}  </h1>




    </div>
    <div *ngIf="character41=='1'" >



      <h1 class="titleComent">Calificado por el Cliente </h1>




    <p class="clasificacion">
    <label class="startGray" for="radio2">★</label>
    <input id="radio3" type="radio" name="estrellas"  value="3">
    <label class="startGray" for="radio3">★</label><!--
    --><input id="radio4" type="radio" name="estrellas" value="2"><!--
    --><label class="startGray" for="radio4">★</label><!--
    --><input id="radio5" type="radio" name="estrellas"  value="1"><!--
    --><label class="startGray" for="radio5">★</label><!---->
      <input id="radio1" type="radio" name="estrellas"    value="5"><!--
      --><label class="start5" for="radio1">★</label><!--
      --><input id="radio2" type="radio" name="estrellas"  value="4">

    </p>




    <h1 *ngIf="character42 != undefined" ><b>Comentario:</b>  </h1>
    <h1 *ngIf="character42 != undefined" > {{character42}}  </h1>



    </div>



   <img class="cdbarra" src="assets/botones/cdgBarra.PNG" alt="">



        </ion-card>

      </div>
</ion-content>




