ion-header{

    border: none;

}
ion-toolbar{
  border: none;
  --ion-background-color: #262262;
 // --background: url(../../assets/botones/inicioSesion.png) 0 0/100% 100% no-repeat;
}
b{
   font-family: 'Montserrat', sans-serif;
  font-weight: 300; /* Asegura que se use la variante Light */
}
ion-label{
    display: flex;
   font-family: 'Montserrat', sans-serif;
  font-weight: 300; /* Asegura que se use la variante Light */
  margin-left: 15.5px;
}
ion-back-button{
    color: white;
}
.title{

  --background: url(../../assets/botones/inicioSesion.png) 0 0/100% 100% no-repeat;
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    text-transform: uppercase;
    font-size: 100%;

}
.imgtoolbar {
  margin-left: 21%;


  max-width: 60%
}
label{
  margin-right: 10px;
}

ion-content{
  --background: url(../../assets/botones/inicioSesion.png) 0 0/100% 100% no-repeat;

}
.contain {
     top: 7%;

     --background: url(../../assets/botones/inicioSesion.png) 0 0/100% 100% no-repeat;
  }
ion-item{
  color: white;
  //--background: url(../../assets/botones/inicioSesion.png) 0 0/100% 100% no-repeat;
  --ion-background-color: transparent;
      font-size: 1rem;
      --min-height: 0 !important;
      --border-width: 0 0 0 0 !important;
--inner-border-width: 0 !important;
--show-full-highlight: 0 !important;
--show-inset-highlight: 0 !important;
margin-bottom: 4%;
  }

  .corto{
    border: unset;
    //margin-left: 29%;
    height: 38px;
    //position: absolute;
    width: 60%;
    display: block;
    background-color: white;
    color: black;
    font-size: 17px;
    border: 1px solid #333;
    float: right;
}

  ion-input{
    border: unset;
      margin-left: 32%;
      height: 25px;
      position: absolute;
      width: 70%;
      display: block;
      background-color: red;
      color: black;
      text-align: left;

  }
  body{
    --ion-color-primary-contrast: #ffffff;
  }

  ion-input,ion-label{
    display: flex;
	color: black;
	font-size: 20px;
}

  img{

    display: block;
    margin-left:24% ;

    align-items: center;
        width: 50%;
        height: 50%;
        text-align: center;
    }
  ion-button{
    font-family: 'Poppins', sans-serif;
    color: #262262;
    display: inline-block;
   margin-left: 35%;
}
.danger{
  font-family: 'Poppins', sans-serif;
  color: red;
  display: inline-block;
}
small{
   font-family: 'Montserrat', sans-serif;
  font-weight: 300; /* Asegura que se use la variante Light */
  color: white;
  text-align: center;
  width: 10%;
  height: 10%;
  word-spacing: 0%;
}
div {
  text-align: justify;
}
.ion-color-warning {
  --ion-color-base: #FFF200  !important;
}
ion-button{
 text-transform: capitalize;
}

.send{

  color: #262262;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;


}