<ion-header class="back">
  <ion-toolbar >

    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <img class="imgtoolbar" src="../../assets/botones/LOGOUPERIOR-92.png"  alt="">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">



  </ion-toolbar>
</ion-header>

<ion-content class="background">

  <ion-card-content class="contain">
    <ion-label class="title"><b>Formulario de Registro</b></ion-label>
  <form [formGroup]="regisForm" (ngSubmit)="guardar()" >



    <ion-item >
      <ion-label  >Nombre</ion-label>
      <ion-input  class="corto" formControlName="field_nombres_registro" type="text" required></ion-input>
    </ion-item>




    <ion-item >
      <ion-label >Apellidos</ion-label>
      <ion-input class="corto" formControlName="field_apellidos_registro" type="text" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label >Documento</ion-label>
      <ion-input class="corto" formControlName="field_id_registro" type="number" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label >Email</ion-label>
      <ion-input class="corto"  pattern="[A-Za-z0-9._%+-]{2,}@[a-zA-Z-_.]{2,}[.]{1}[a-zA-Z]{2,}" formControlName="mail" type="email" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label >Celular</ion-label>
      <ion-input class="corto" formControlName="field_celular_registro" type="number" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label >País</ion-label>
      <ion-input class="corto" formControlName="field_pais_registro" type="text" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label >Ciudad</ion-label>
      <ion-input class="corto" formControlName="field_ciudad_registro" type="text" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label >Sector</ion-label>
      <ion-input class="corto" formControlName="field_sector_registro" type="text" required></ion-input>
    </ion-item>
    <ion-item >
      <ion-label >Dirección</ion-label>
      <ion-input class="corto" formControlName="field_direccion_registro"type="text" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Contraseña</ion-label>
      <ion-input
class="corto"
        formControlName="password"
        type="password"
        placeholder="Contraseña"
        required
        pattern="^[0-9]{0,5}$"
        minlength="5"
        maxlength="5"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label >Confirmar</ion-label>
      <ion-input
class="corto"
        formControlName="confirm_password"
        type="password"
        placeholder="Confirma Contraseña"
        required
        pattern="^[0-9]{0,5}$"
        minlength="5"
        maxlength="5"
      ></ion-input>
    </ion-item>

    <div *ngIf="regisForm.get('confirm_password').hasError('passwordMismatch')">
      <ion-text color="danger" class ="danger">Las contraseñas no coinciden.</ion-text>
    </div>
    <div *ngIf="regisForm.get('password').touched && regisForm.get('password').hasError('pattern')">
      <ion-text color="danger" class="danger">
        Solo se permiten 5 dígitos numéricos (0-9).
      </ion-text>
    </div>

    <div>
       <small> <label class="switchBtn">
        <input class="corto1" id="field_acepta_terminos_registro" formControlName="field_acepta_terminos_registro" value="true" type="checkbox">
        </label>  Acepto que he leído y comprendido los siguientes   <a (click)="presentAlert()" style="color:yellow"> términos y Condiciones de Uso </a> y al hacer clic en el recuadro y seleccionar "Aceptar", Así como utilizar el presente servicio, dejo constancia expresa de que los acepto de manera libre y consciente habiendo de mi parte revisado satisfactoriamente la información la cual considero adecuada y suficiente</small>

    </div>
    <script>
      if (document.getElementById('field_acepta_terminos_registro').ariaChecked)
{
alert('checkbox1 esta seleccionado');
}
var checkbox = document.getElementById('field_acepta_terminos_registro');
checkbox.addEventListener("change", validaCheckbox, false);
function validaCheckbox()
{
  var checked = checkbox.checked;
  if(checked){
    alert('checkbox1 esta seleccionado');
  }
}
if( $('#checkbox1').prop('checked') ) {
    alert('checkbox1 esta Seleccionado');
}
    </script>







    <ion-row>
      <ion-col>
        <ion-button type="submit" color="warning" expand="block"
        class="send" >Aceptar!</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-card-content>
</ion-content>