<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start"></ion-buttons>
    <ion-title class="centered-title">Orden Creada</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row class="mensajeria">
      <h1><b>Orden Nro:</b> {{NumeroOrden}}</h1>
      <br><br><br>
    </ion-row>

    <br><br>
    <ion-row class="spacing">
      <h1>En breve el mensajero se estara comunicando con usted.</h1>
    </ion-row>

    <ion-row *ngIf="datosObtenido==false" class="spacing">
      <ion-col class="ion-text-center">
        <h1>Estamos buscando un auxiliar para ti!....</h1>
        <!-- Loading Spinner -->
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" *ngIf="datosObtenido==true" replaceUrl="true" (click)="irSiguiente()" type="submit" color="warning">Ok</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
