<ion-header>
  <ion-toolbar>
   
    <ion-buttons  slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <ion-title>Sencilla</ion-title>
   
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap" rel="stylesheet">
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="contentImg">
    <ion-img class="img-slider" [src]="urlBase+slider" alt=""></ion-img>

  </div>
    <ion-card-content class="contain">
      <swiper #swiper [virtual]="true"  [config]="swiperConfig">

        <ng-template swiperSlide >
          <div class="slider" >
            
           
      <ion-card>
        <form  [formGroup]="FormSend" (ngSubmit)="sendForm()">
            
          <ion-label > <b>origen :</b> </ion-label>
          <ion-item id="locacionOrigen"  >
            <ion-select  (ionChange)="regionOrigen($event.target.value)"   formControlName="field_locacion_entrega" class="locacion">
      
              <ion-select-option *ngFor="let locacion of locaciones"   value="{{locacion.name}}">{{locacion.name}}</ion-select-option>
              
             </ion-select>
            <!---->
           
            
            
          </ion-item>

       
        
          <ion-item >
            
           
              
         <textarea placeholder="Dirección"  formControlName="field_direccion_entrega"  type="text" siz required></textarea>
          </ion-item>
         

         
    
          
    
          <ion-item id="itemOrigen" [disabled]="bloquearInputBarrio">
             <textarea  [hidden]="ocultarInputOrigen"  formControlName="field_barrio_origen" id="barrioOrigen" placeholder="Barrio de Origen" #input (input)="inputChanged($event)" type="text">{{barrio}}</textarea>
             
           </ion-item>
           <ion-list [hidden]="items.length <= 0" >
            <ion-item (click)="selected(item, input)" *ngFor="let item of items">
              {{item.name}}
            </ion-item>
          </ion-list>

         
          
         
    
         
          
    
            
          <ion-label><b>Contacto Nombre :</b> </ion-label>
          <ion-item >
            
            <textarea formControlName="field_nombre_c_origen" placeholder="Nombre" type="text" required></textarea>
          </ion-item>
       
         <ion-label><b>Contacto Telefono:</b> </ion-label>
          <ion-item >
            
            <textarea formControlName="field_contacto" placeholder="Número de celular" type="text" required></textarea>
          </ion-item>
          
       
          
          
          
         
      
          <ion-row class="rowBorder">
            <ion-col>
              <ion-button replaceUrl="true" expand="block" (click)="slideNext()"color="danger" > <small><b>Siguiente</b> </small> </ion-button>
            </ion-col>
          </ion-row>
        </form>

      </ion-card>
        
              
           
      
          </div>
        </ng-template>



        
        <ng-template swiperSlide >
          <div class="slider" >
            
            <ion-card>
          <form  [formGroup]="FormSend" (ngSubmit)="sendForm()">
            
            <ion-label > <b>destino :</b> </ion-label>
            <ion-item  >
              <ion-select  (ionChange)="region($event.target.value)"   formControlName="field_locacion_destino" class="locacion">
      
                <ion-select-option *ngFor="let locacion of locaciones"   value="{{locacion.name}}">{{locacion.name}}</ion-select-option>
                
               </ion-select>
              <!---->
             
              
            </ion-item>
            <ion-item >
            
              
              <textarea placeholder="Dirección"  formControlName="field_direccion_destino" type="text" required></textarea>
            </ion-item>

            
            <ion-item id="itemDestino" [disabled]="bloquearInputBarrioDestino">
               <textarea  [hidden]="ocultarInput" id="barrioDestino" formControlName="field_barrio_destino" placeholder="Barrio destino" (input)="inputChanged2($event)" #input2 type="text">{{barrio}}</textarea>
               
            
           
             </ion-item>
             <ion-list [hidden]="items2.length <= 0" >
              <ion-item (click)="selected2(item, input2)" *ngFor="let item of items2">
                {{item.name}}
              </ion-item>
            </ion-list>
            
          
            <ion-label><b>Contacto Nombre :</b> </ion-label>
          <ion-item >
            
            <textarea formControlName="field_nombre_c_destino" placeholder="Nombre" type="text" required></textarea>
          </ion-item>
            
          
            
            <ion-label > <b>Contacto Telefono:</b> </ion-label>
            <ion-item >
              
              <textarea formControlName="field_contacto_destino" placeholder="Número de celular" type="text" required></textarea>
            </ion-item>
           
       
      
           
        
            <ion-row class="rowBorder">
              <ion-col>
                <ion-button replaceUrl="true" (click)="slideNext2()" color="danger" expand="block" > <small><b>Siguiente</b></small>  </ion-button>
             
                <ion-button replaceUrl="true"  (click)="slidePrev()" color="danger" expand="block" > <small><b>atras</b></small>  </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card>
      
          </div>
        </ng-template>

        <!--tercer slider-->
          
        <ng-template swiperSlide >
          <div class="slider" >
            <ion-card>
            
          <form  [formGroup]="FormSend" (ngSubmit)="sendForm()">
            <ion-label><b>Valor declarado</b> </ion-label>
            <ion-item >
              
            
              <input class="inputValor"  formControlName="field_valor_declarado"  type="number" required>
            </ion-item>
            <ion-label> <b>Medio de pago:</b> </ion-label>
            <ion-grid>
              <ion-row>
               
                 <ion-col size="5">
                   <img src="../../assets/botones/PAGOSCOLOR-97.png" class="col-img" width="80%" height="80%" alt="">
                 </ion-col>
                 <ion-col size="7"> 
                  <div class="form-check">
                    <input type="radio" formControlName="field_metodo_de_pago" value="nequi"  class="form-check-input"  >
                    
                  </div>
              
                   
                  </ion-col>
               </ion-row>
               
                <ion-row>
                 
                  <ion-col size="5">
                    <img src="../../assets/botones/PAGOSCOLOR-98.png" class="col-img"  width="80%" height="80%" alt="">
                  </ion-col>
                  <ion-col size="7"> 
                    <div class="form-check">
                      <input formControlName="field_metodo_de_pago" type="radio" value="daviplata" class="form-check-input"  >
                      
                    </div>
                    
                     
                    </ion-col>
                </ion-row>
                <ion-row>
                
                  <ion-col size="5">
                    <img src="../../assets/botones/PAGOSCOLOREAZUL-99.png" class="col-img" width="80%" height="80%" alt="">
                  </ion-col>
                  <ion-col *ngIf="permitirPagoEfectivo=='On'" size="7"> 
                    <div class="form-check">
                    <input formControlName="field_metodo_de_pago" type="radio" value="efectivo" class="form-check-input" >
                    </div>
               
               
                   
                  </ion-col>
                </ion-row>
             
               <script>
                 document.getElementById("formulario").addEventListener("submit", function(event){
                 let hasError = false;
                
             
                 // obtenemos todos los input radio del grupo horario que esten chequeados
                 // si no hay ninguno lanzamos alerta
                 if(!document.querySelector('input[name="field_medio_de_transporte"]:checked')) {
                   alert('Error, rellena el campo horario');
                   hasError = true;
                   }
             
                 
                 
                 // si hay algún error no efectuamos la acción submit del form
                 if(hasError) event.preventDefault();
             });
               </script>
               
               <br>
            
            </ion-grid>
            
            <label class="switchBtn">
              <input id="field_ida_y_vuelta" formControlName="field_ida_y_vuelta" value="true" type="checkbox" checked>
              </label>
           
            <ion-label><b>ida y vuelta</b> </ion-label>
          <br>
          <script>
            if (document.getElementById('field_ida_y_vuelta').checked)
      {
      alert('checkbox1 esta seleccionado');
      }
      var checkbox = document.getElementById('field_ida_y_vuelta');
      checkbox.addEventListener("change", validaCheckbox, false);
      function validaCheckbox()
      {
        var checked = checkbox.checked;
        if(checked){
          alert('checkbox1 esta seleccionado');
        }
      }
      if( $('#checkbox1').prop('checked') ) {
          alert('checkbox1 esta Seleccionado');
      }
          </script>
            <br>
            <ion-label > <b>¿Quien paga?* </b> </ion-label>
      
        <div class="check">
          <input id="checkbox1" class="recogerInput" formControlName="field_quien_paga_" value="Cobrar en destino"  class="form-check-input" type="radio" checked>
          <label class="form-check-label" for="flexRadioDefault1">
            Cobrar en destino
          </label>
      
        </div>
        <div class="check2">
          <input id="checkbox2"  class="recogerInput" formControlName="field_quien_paga_" value="Cobrar en Origen" class="form-check-input" type="radio" checked>
          <label class="form-check-label" for="flexRadioDefault2">
           Cobrar en Origen
          </label>
        </div>
        <script>
           if(document.getElementById('field_respuesta_documentos').checked){
          alert('field_respuesta_documentos esta seleccionado');
         }
        </script>
            <br>
           
            <ion-label > <b> Observación*</b></ion-label>
            <ion-item >
              
              <textarea formControlName="field_observaciones"  class="descaera" type="text" rows="10" cols="50" required></textarea>
            </ion-item>
      
           
        
            <ion-row class="rowBorder">
              <ion-col>
                <ion-button replaceUrl="true"  type="submit" color="danger" expand="block" > <small><b>¡VaPa'Esa!</b></small>  </ion-button>
               
                <ion-button replaceUrl="true"  (click)="slidePrev()" color="danger" expand="block" > <small><b>atras</b></small>  </ion-button>
              </ion-col>
            </ion-row>
          </form>
        </ion-card>
      
          </div>
        </ng-template>
      
      </swiper>
    
  </ion-card-content>

</ion-content>